.idea/
build/
build-phet-io-api/
node_modules/
*.iml
.DS_Store
.DS_Store?
*.sublime-project
*.sublime-workspace
.eslintcache
_generated_development_strings/simula-rasa-create-sim-runtime-fixture_all.json